@font-face {
    font-family: BuloRounded-Bold;
    src: url('../BuloRounded-Bold.ttf');
}
@font-face {
    font-family: Averta-Bold;
    src: url('../Averta-Bold.otf');
}
@font-face {
    font-family: Averta-Regular;
    src: url('../Averta-Regular.otf');
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

$ULcolor: #EE2E2A;
$ULlightcolor: #FF7B78;
$secondULcolor: #2B6788;

body, html {
    height: 100%;
}

body {
    font-family: 'Averta-Bold';
    margin: 0;
    background: $secondULcolor;

    #container {
        width: 100%;
        height: 100%;
        position: absolute;

        .navbar{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 85%;
            padding-top: 1.5em;
            padding-bottom: 1.5em;
            margin-bottom: 10%;

            .logo{
                width: 40%;
                float: left;
            }

            .menu{
                width: 10%;
                margin-top: 2%;
                float: right;
            }
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            text-align: right;
            top: 0;
            right: 0;
            background-color: #17191B;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;

            a {
                padding: 10px 15% 8px 32px;
                text-decoration: none;
                font-size: 20px;
                color: #818181;
                display: block;
                transition: 0.3s;

                &:hover {
                    color: #f1f1f1;
                  }

            }

            .closebtn {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 36px;
            }

            #profileImg{
                position: absolute;
                right: 15%;
                bottom: 20%;
                mask-image: url(/src/maska.svg);
            }

            #profileName{
                font-family: 'BuloRounded-Bold';
                position: absolute;
                right: 15%;
                bottom: 15%;
                color: #f1f1f1;
                font-size: 25px;
            }

        }   

        .inner{
            border-radius: 30px 30px 0px 0px;
            background: #FFF;
            height: 100%;

            .pic{
                display: block;
                margin-left: auto;
                margin-right: auto;

                width: 85%;
            }

            .bottom{
                display: block;
                margin-left: auto;
                margin-right: auto;
                padding-top: 10%;
                width: 85%;
                input[type="text"],input[type=password] {
                    padding: 15px;
                    border-radius: 50px;
                    border: 2px solid #EBEBEB;
                    font-size: 18px;
                    box-sizing: border-box; 
                    width:100%;
                }
                .txt1{
                    font-size: 2.2em;
                }

                .subtitle{
                    font-family: 'Averta-Regular';
                    font-size: 1.3em;
                    margin-bottom: 10%;
                }

                .zaczynamy_button{
                    font-family: 'BuloRounded-Bold';
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 200px;
                    width: 60%;
                    bottom: 10%;
                    font-size: 1.7em;
                    text-align: center;
                    color: #FFF;
                    padding: 10px 30px 15px 30px;
                    border-radius: 40px;
                    background: $secondULcolor;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
                .zaczynamy_button:hover,.zaloguj:hover{
                        background: #487d99;
                }
                .zaloguj{
                    font-family: 'BuloRounded-Bold';
                    display: block;
                    margin-left: auto;
                    border: none;
                    margin-right: auto;
                    max-width: 200px;
                    width: 100%;
                    bottom: 10%;
                    font-size: 1.7em;
                    text-align: center;
                    color: #FFF;
                    padding: 10px 30px 15px 30px;
                    border-radius: 40px;
                    background: $secondULcolor;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                }
            }

        }
   
    }
}



.top{
    max-height: 50%;
    padding: 5% 5% 0%;
 
}

a {
    text-decoration: none;
    color: black;
}

ul {
    display: none;
}

.navbar_pulpit {
    display: none;
}

@media screen and (min-width: 1025px) {
    
    .logo{
        display:none;
    }

    .menu{
        display:none;
    }

    body {
        background: linear-gradient(180deg, #2B6788 2.08%, rgba(92, 143, 172, 0.569149) 100%);
        
        #container {
            width: 85%;
            height: auto;
            position: relative;
            margin-top: 2em;
            max-width: 1150px;
            margin-left: auto;
            margin-right: auto;
            padding: 2em;
            background: white;
            border-radius: 1em;
            .inner {
                margin:auto;
                margin-bottom: 5em;
                display: flex;
                justify-content: space-between;
                
                .top {
                    display: block;
                    margin-right: 10px;
                    margin-top: 30px;
                    
                    .pic {
                        width: 550px;
                    }
                }
                
        
                .bottom{
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    padding-top: 80px;
                    padding-right: 50px;
                    width: 25%;

                    .subtitle {
                        padding-bottom: 80px;
                    }
                   
                }
            }
            

            .navbar{
                display:none;
            }
            .navbar_pulpit{
                display: flex;
                justify-content: space-between;
                padding: 1em;
                font-family: BuloRounded-Bold;
                font-size: 16px;
                margin-left:1em;

                ul {
                    display:flex;
                    list-style: none;
                    padding: 0;
                }
                ul li {
                    margin-right: 1.5em;
                    margin: auto 1.7em auto 0;
                }
                button {
                    background: rgba(238, 46, 42, 0.05);
                    font-family: BuloRounded-Bold;
                    font-size: 17px;
                    border: 3px solid #EE2E2A;
                    padding: .4em 20px .6em;
                    box-sizing: border-box;
                    border-radius: 30px;
                    color:red;
                }
            }
        }
    }
}