extends base

block content
    .inner
        .left
            img.left_img(src='/img/vector.svg', alt='Obrazek')
        .right(style='text-align: right;')
            h1.title  Zarezerwuj spotkanie jednym klikni&eogon;ciem
            p.subtitle
                | System rezerwacji spotka&nacute; 
                br
                |  z pracownikami U&Lstrok;
            a.zaczynamy_button(href='/allEmployees') ZACZYNAMY!
